---
title: Accessible Horizons - Podcasts
description: Accessible Horizon Podcast, where we explore the latest in digital accessibility, accommodation practices, and adaptive technology. Tune in for insightful conversations, expert interviews, and practical tips aimed at making technology more inclusive for everyone.
permalink: /podcasts/
otherLanguagePermalink: /balados/
eleventyExcludeFromCollections: true
layout: layouts/base.njk
---

<h2>Podcasts</h2>

{# List all podcasts here #}
{%- if collections.podcasts and collections.podcasts.length > 0 -%}
	{%- set podcastslist = collections.podcasts | localeMatch(locale) -%}
{%- if podcastslist and podcastslist.length > 0 -%}
	{%- include "partials/podcastslist.njk" -%}
{%- else -%}
	There are no podcasts at the moment.
{%- endif -%}
{%- else -%}
	There are no podcasts at the moment.
{%- endif -%}
