---
title: Horizons Accessibles - Balados
description: Balados Horizons Accessibles, où nous explorons les dernières tendances en matière d'accessibilité numérique, de pratiques d'accommodement et de technologies adaptatives. Écoutez des conversations enrichissantes, des entrevues d'experts et des conseils pratiques pour rendre la technologie plus inclusive pour tous.
permalink: /balados/
otherLanguagePermalink: /podcasts/
eleventyExcludeFromCollections: true
layout: layouts/base.njk
---

<h2>Balados</h2>

{# List all podcasts here #}
{%- if collections.podcasts and collections.podcasts.length > 0 -%}
{%- set podcastslist = collections.podcasts | localeMatch(locale) -%}
{%- if podcastslist and podcastslist.length > 0 -%}
{%- include "partials/podcastslist.njk" -%}
{%- else -%}
Il n'y a pas de balados pour le moment.
{%- endif -%}
{%- else -%}
Il n'y a pas de balados pour le moment.
{%- endif -%}
