
<ul class="list-unstyled">
		{%- for newsletter in newsletterslist -%}
		<li>
			<section>
				<h3><a href="{{ newsletter.url }}">{{ newsletter.data.title }}</a></h3>
					<p>{{ newsletter.data.description | markdownify | safe }}</p>
			</section>
		</li>
		{%- endfor -%}
</ul>

<p class="mt-4 well"><i class="fas fa-envelope fa-lg mr-2" aria-hidden="true"></i>
	{{ newsletters[locale].contactUs | safe }}
	<a href="mailto:{{ footer.contextualFooter[locale].learning.email }}?subject={{ newsletters[locale].emailSubject }}">
		{{ footer.contextualFooter[locale].aaact.email }}
	</a>
</p>
